body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f6f6f6;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.App footer {
  margin: 10px 0;
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
