.Weather {
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  font-family: "Quicksand", sans-serif;
  background-color: #e8f1f5;
}

.Weather h1 {
  color: #142850;
  font-size: 38px;
  font-weight: 900;
  margin: 20px 0 0 0;
  line-height: 48px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  padding-top: 10px;
}

span {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: #0c7b93;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: #27496d;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.Weather .btn {
  background: #00a8cc;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
